/* styles of FAQ section container */
.faqs{
    padding: 0px 20px 20px;
}

/* styles of details html tag */
details{
    background: #f6f6f6;
    padding: 10px 20px;
    border-radius: 7px;
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: 0.8px;
    cursor: pointer;
}

/* styles of details and summary html tags */
details summary{
    outline: none;
}

/* Styles of the iframe */
@media screen and (max-width: 600px) {
    .video-youtube{
        width: 100% !important;
        height: 200px;
    }
}
